<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Koa testing...</title>
</head>
<body>

<div class="main">
  <h1><%= user.name.first %> <%= user.name.last %></h1>
  <small><%= user.age %> years old</small>
</div>

</body>
</html>